@model Symphonie.Models.Orchestre

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Orchestre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrchestreId" />
            <div class="form-group">
                <label asp-for="NbEtudiant" class="control-label"></label>
                <input asp-for="NbEtudiant" class="form-control" />
                <span asp-validation-for="NbEtudiant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NbSection" class="control-label"></label>
                <input asp-for="NbSection" class="form-control" />
                <span asp-validation-for="NbSection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoLocal" class="control-label"></label>
                <input asp-for="NoLocal" class="form-control" />
                <span asp-validation-for="NoLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfesseurId" class="control-label"></label>
                <select asp-for="ProfesseurId" class="form-control" asp-items="ViewBag.ProfesseurId"></select>
                <span asp-validation-for="ProfesseurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
